<% @titles.each do |title| %>
	<ul class="image_list_item">
		<div id="image_list_container">
			<li>
				<h4><%= title.name %></h4>
					<ul>
						<li class="no-bullet">
						<% title.images.each do |i| %>
							<% i.image_types.each do |t| %>
							<div id="model_images">
								<%= link_to image_tag(i.filename.url(:thumb)), title_path(title) %><br/>
								<%= link_to 'edit', edit_title_path(title) %>
								<!-- <span><%#= t.name.humanize %> | <%#= t.crop_x %> X <%#= t.crop_y %></span> -->
							</div>
							<% end %>
						<% end %>
					</li>
				</ul>
			</li>
		</div>
	</ul>
<% end %>