<h1>Titles</h1>
<%= render 'thumb_image' %>
<div class="buttons-container">
	<div class="new-button">
		<%#= link_to "New Image", [:new, @attachable, :image], :class=> 'button radius' %>
		<%= link_to "New Title", new_title_path, :class=> 'button radius' %>
	</div>
	<div class="home-button">
		<%= link_to "Home", root_path, :class=> 'button radius' %>
	</div>
</div>