/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.Jcrop
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
label.right {
  padding-right: 10px;
}

/*totally lame, don't do this!!!!*/
#body-container {
	margin: 0 100px 0 100px;
}

ul.image_list_item {
	list-style-type:none;
	width: 40%;
	display: inline-block;
}

div#image_list_container{
	width: 100%;
	margin: 10px 20px;

}

.no-bullet {
	list-style-type:none;
}

#model_images {
	background-color: #E8E8E8;
}

#titles {
	width: 50%;
	float: left;
}

#celebs {
	width: 50%;
	float: right;
}