<h1>Images</h1>

<% @images.each do |image| %>
  <div class="image">
    <%#= image_tag image.image_url(:thumb) %>
  </div>
<% end %>
<div class="clear"></div>

<p><%= link_to "New Image", new_image_path %></p>
