<h1>Images</h1>
<div><%= render 'images' %></div>
<div class="buttons-container">
	<div class="new-button">
		<%= link_to "New Image", [:new, @attachable, :image], :class=> 'button radius' %>
	</div>
	<div class="home-button">
		<%= link_to "Home", root_path, :class=> 'button radius' %>
	</div>
</div>
